/* TOP NAVIGATION */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #213d63;
    color: white;
}

.top-nav .logo {
    font-size: 24px;
    font-weight: bold;
}

.top-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.top-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 6px;
}

.top-nav ul li a.active,
.top-nav ul li a:hover {
    background: #28a745;
    color: white;
}
